[Unit]
Description=Alarm
After=network.target

[Service]
User=root
#Environment=STNORESTART=yes GOCG=25
ExecStart=/opt/pySleepWake/alarm.py /opt/pySleepWake/alarm.conf
Restart=on-success
SuccessExitStatus=3

[Install]
WantedBy=multi-user.target
