[sleep]
# Tx and Rx average in KB/s
TxRx_rate: 50.0

# Window time in minutes
twin: 1.0

# Time delay between measurements, in minutes
tdel: 0.1

# Reference interface
iface: wlp3s0

# Log level
# info (20) or debug (10)
log_level: 10
